.slider {
    position: relative;

    &__banner {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 0;
        }
    }

    &__wrapper {
        @include flex();
        flex-direction: column;
        position: relative;
        z-index: 999;
    }

    .text-italian {
        margin-bottom: 12px;
    }

    &__title {
        font-size: 24px;
        line-height: 36.48px;
    }

    &__wrap {
        margin: 20px 0;
        position: relative;
        min-height: 200px;
        width: 100%;

        &-items {
            display: flex;
            gap: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__text {
        @include font(600, 80, 80);
        line-height: 97.52px;
        text-align: center;
        color: $text-white;
        text-transform: uppercase;
    }

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
        align-self: flex-end;
    }
}
.button-right {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    &:hover img {
        filter: invert(39%) sepia(100%) saturate(657%) hue-rotate(355deg) brightness(94%) contrast(91%);
    }
    &:hover {
        background-color: $text-white;
    }

    img {
        transition: filter 0.3s ease;
    }

    @include media(500) {
        cursor: unset;
        &:hover {
            background-color: unset;
        }

        &:hover img {
            filter: unset;
        }
    }
}
.button-left {
    cursor: not-allowed;

    @include media(500) {
        cursor: unset;
    }
}
