.wrapper {
    @include flex();
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;

    background: $text-white;
}

[class*='__container'] {
    max-width: 1440px;
    margin: 0 auto;
}

[class*='__wrapper'] {
    padding: 60px 82px;
    margin: 0 auto;

    @include media(980) {
        padding: 60px 8px;
    }
}

[class*='__title'] {
    @include font(600, 32, 32);
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    color: $text-white;
    text-transform: uppercase;
}

.text-italian {
    font-family: Allura;
    @include font(400, 24, 24);
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $text-white;
}

.main__container {
    flex: 1 1 auto;
    width: 100%;
    background-color: #ff4646;
    border-radius: 20px;
    overflow: hidden;
}

.black-button {
    background: $text-dark;
    color: $text-white;
    @include font(600, 12, 12);
    line-height: 15.6px;
    letter-spacing: 0.8px;
    padding: 20px 32px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
    &:hover {
        background: $text-white;
        color: $text-dark;
    }

    @include media(1100) {
        cursor: unset;
        &:hover {
            background: $text-dark;
            color: $text-white;
        }
    }
}

.for-work {
    color: #4361ff;
}

.for-health {
    color: #06a44f;
}

.for-harmony {
    color: #ff43f7;
}
